.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: cornflowerblue;
}


button {
  background: cornflowerblue;
  border-radius: 10px;
  width: 100px;
  margin: 10px;

}

.divProductos {
  border: white 3px solid;
  border-radius: 10px;
  margin: 30px;
  width: 400px;
  text-align: center;  
  background: lightblue;
}

.divCadaProducto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


h3 {
  background-color: antiquewhite;
  color: black;
  padding: 10px;
}


.divNavBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: lightblue;
}

.logoLsa {
  width: 90px;
  padding-top: 5px;
  margin: 20px;
}

.productoDetallada {
  text-align: center;
}

button {
  background: cornflowerblue;
  border-radius: 10px;
  width: 80px;
  margin-top: 30px;

}

.titulo {
  font-size: 15px;
  background-color: lightblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.precio {
  text-align: center;
  color: black;
  font-size: 20px;
}



.h1Producto {
  text-align: center;
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h2Precio {
  font-size: 30px;
}

.divCarrito {
  display: flex;
  flex-flow: row wrap;

}

.pDes {
  margin: 20px;
}

.divDetails {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: white 3px solid;
  border-radius: 10px;
  margin: 30px;
  width: 600px;
  text-align: center;  
  justify-content: center;
  background: #000;
  
}

.links {
  display: flex;
  text-decoration: none;
  list-style:none;
}